
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <header>
        <h1>Band</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Band">Band</a></li>
            </ul>
        </nav>
    </header>
    
    <p>Welkom bij uw Band app. Hier komt u alles te weten over de <a href="/Band/Lijst">bands</a> en hun <a href="/Band/LijstMetLeden">leden</a></p>
</body>
</html>
